<% if flash[:notice] %>
  <p class="bg-success text-light text-center w-50"><%= flash[:notice] %></p>
<% end %>

<div class="d-flex justify-content-between">
  <h3>予定一覧</h3>
  <%= link_to"新規登録", :new_schedule, class:"btn btn-primary" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日時</th>
      <th>詳細</th>
      <th>変更</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.id %></td>
        <td><%= schedule.title %></td>
        <td><%= schedule.start_day.strftime("%Y/%m/%d") %></td>
        <td><%= schedule.close_day.strftime("%Y/%m/%d") %></td>
        <td><% if schedule.all_day %>
            ○
          <% end %></td>
        <td><%= schedule.updated_at.to_s(:datetime_jp) %></td>
        <td><%= link_to "詳細", schedule %></td>
        <td><%= link_to "変更", [:edit, schedule]%></td>
        <td>
          <%= link_to "削除", schedule, method: :delete, data: 
          { confirm: '本当に削除して良いですか?',
            cancel: 'やめる',
            commit: '削除する'}, title: '削除確認' %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="bg-light text-center d-flex justify-content-between">
  <p>予定合計　<%= @schedules.count %>件</p>
  <p>本日の日付　<%= Date.current.strftime("%Y/%m/%d") %></p>
</div>