<h3>スケジュール詳細</h3>

<table>
  <tr>
    <th>タイトル</th>
    <td><%= @schedule.title %></td>
  </tr>
  <tr>
    <th>開始日</th>
    <td><%= @schedule.start_day %></td>
  </tr>
  <tr>
    <th>終了日</th>
    <td><%= @schedule.close_day %></td>
  </tr>
  <tr>
    <th>終日</th>
    <td><% if @schedule.all_day %>
    ○<% end %>
    </td>
  </tr>
  <tr>
    <th>更新日時</th>
    <td><%= @schedule.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
  </tr>
  <tr>
    <th>スケジュールメモ</th>
    <td><%= @schedule.memo %></td>
  </tr>
</table>
<%= link_to "変更", [:edit, @schedule], class:"btn btn-primary"%>
<%= link_to"一覧に戻る", :schedules, class:"btn btn-outline-secondary" %>


